trunk/rent-a-house/kitchens.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="kitchens">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kitchen" type="typeKitchen">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="typeKitchen">
        <xs:sequence>
            <xs:element name="area" type="xs:int"/>
            <xs:element name="furniture" type="xs:int"/>
            <xs:element name="housewares" ></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>