trunk/rent-a-house/rooms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:beds="beds">
<xs:element name="rooms">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="room">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="beds"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>