rent-a-house/houseOwner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
    <xs:include schemaLocation="persons.xsd"></xs:include>
    <xs:include schemaLocation="housesToRent.xsd"></xs:include>
    
    <xs:element name="houseOwners">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="houseOwner" type="personsType" minOccurs="1" maxOccurs="1"/>
                <xs:element name="housesToRent" type="typeHousesToRent" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    
</xs:schema>

